/* src/styles/global.css */

/* 1. Importar el archivo de utilidades principal de Tailwind v4 */
@import "tailwindcss"; 

/* 2. Usamos la capa base para inyectar código CSS base y la fuente */
@layer base {
    
    /* --- DEFINICIÓN DE FUENTES LOCALES CON @font-face --- */

    /* Inter Regular (400) */
    @font-face {
        font-family: 'Inter Local'; 
        src: url('/fonts/Inter18pt-Regular.woff2') format('woff2'); 
        font-weight: 400; 
        font-style: normal;
        font-display: swap; 
    }

    /* Inter Bold (700) */
    @font-face {
        font-family: 'Inter Local'; 
        src: url('/fonts/Inter18pt-Bold.woff2') format('woff2'); 
        font-weight: 700; 
        font-style: normal;
        font-display: swap;
    }
    /* Inter Medium (500) */
    @font-face {
        font-family: 'Inter Local'; 
        src: url('/fonts/Inter18pt-Medium.woff2') format('woff2'); 
        font-weight: 500; 
        font-style: normal;
        font-display: swap;
    }
    /* Inter Light (300) */
    @font-face {
        font-family: 'Inter Local'; 
        src: url('/fonts/Inter18pt-Light.woff2') format('woff2'); 
        font-weight: 300; 
        font-style: normal;
        font-display: swap;
    }

    /* --- APLICACIÓN DE LA FUENTE AL CUERPO (BODY) --- */
    body {
        /*
          Aplicamos la fuente definida en @font-face.
          Esto sobrescribe la fuente sans por defecto.
        */
        font-family: 'Inter Local', sans-serif; 
    }
}