---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import SecctionCard from '../components/SecctionCard.astro';
import SectionStack from '../components/SectionStack.astro';
import NewSection from '../components/NewSection.astro';
import ValueSection from '../components/Alternative.astro';
import ItemSection from '../components/ItemSection.astro';
---

<Layout 
    title="Winged - Landing Page" 
    description="Servicio de desarrollo frontend estático, profesional y optimizado para vender."
>
    <Section></Section>
    <ItemSection></ItemSection>
    <SecctionCard></SecctionCard>
</Layout>
