---
import Butsec from "../components/Butsec.astro";
---

<div class="bg-neutral-950 min-h-screen relative overflow-hidden">
    
    <div class="relative isolate px-6 pt-14 lg:px-8">
        
        <div aria-hidden="true" class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
            <div 
                style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" 
                class="relative left-[calc(50%-11rem)] aspect-1155/678 w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-linear-to-tr from-violet-500 to-cyan-400 opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
            ></div>
        </div>

        <section
            class="flex items-center min-h-[calc(100vh-1px)] mx-0"
        >
            <div class="container mx-auto text-center py-32 sm:py-48 lg:py-56">
                <h1
                    class="text-3xl tracking-tight font- text-balance text-[#f8f8ff] sm:text-5xl"
                >
                    Tu próxima venta <span
                        class="bg-clip-text text-transparent
                            bg-gradient-to-r from-[#f8f8ff] to-[#c59dff]"
                        ><br />comienza aquí</span>
                </h1><br />
                <p class="text-[#f8f8ff]/70 font-light sm:text-xl">
                    Convierte clicks en <span class="text-[#c59dff]">clientes</span>
                </p><br /><br />
                <div class="">
                    <Butsec texto="EMPEZAR" />
                </div>
            </div>
        </section>

        <div aria-hidden="true" class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
            <div 
                style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" 
                class="relative left-[calc(50%+3rem)] aspect-1155/678 w-[36.125rem] -translate-x-1/2 bg-linear-to-tr from-violet-500 to-cyan-400 opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
            ></div>
        </div>
    </div>
</div>