---
interface props {
    title: string;
    description: string;
    size?: "small" | "large";
}

const { title } = Astro.props;
const { description } = Astro.props;
const { size } = Astro.props;
const cardClasses = `
    relative rounded-xl overflow-hidden p-4 shadow-lg border border-neutral-900
    ${size === "large" ? "lg:col-span-2 lg:row-span-2" : ""}
    bg-neutral-950 text-white`;
---

<div class={cardClasses}>
    <div class="p8">
        <h3 class={`text-xl font-normal text-transparent bg-clip-text bg-gradient-to-r from-neutral-500 to-[#f8f8ff]`}>{title}</h3>

        <p class="mt-2 text-neutral-500 text-sm">{description}</p>
    </div>
</div>
