---
import TelButton from "./TelButton.astro";
---

<header class="bg-[#050505]/50 backdrop-blur-sm fixed top-0 left-0 right-0 z-50">
    <nav class="container mx-auto px-6 py-4 flex justify-between items-center" role="navigation" aria-label="Navegación Principal">
        
        <a 
            href="/" 
            class="bg-clip-text text-transparent bg-gradient-to-r from-[#f8f8ff] to-[#c59dff] relative group hover:cursor-pointer font-bold"
        >
            WEB STUDIO
            <span class="absolute -bottom-1 left-0 w-full h-0.5 bg-gradient-to-r from-neutral-950 to-violet-500 transform scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-in-out"></span>
        </a>

        <div>
            <TelButton texto="📲" />
        </div>
    </nav>
</header>