---
import TelButton from "./TelButton.astro";
---

<header class="bg-black/60 backdrop-blur-sm fixed top-0 left-0 right-0 z-50 font-sans">
    <nav class="container mx-auto px-6 py-4 flex justify-between items-center" role="navigation" aria-label="Navegación Principal">
        
        <a 
            href="/" 
            class="text-2xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-neutral-700 to-white tracking-wider transition-transform transform hover:scale-105 duration-300 relative group"
        >
            WINGED
            <span class="absolute -bottom-1 left-0 w-full h-0.5 bg-gradient-to-r from-neutral-950 to-violet-600 transform scale-x-0 group-hover:scale-x-100 transition-transform duration-300 ease-in-out"></span>
        </a>

        <div>
            <TelButton texto="📲" />
        </div>
    </nav>
</header>
