---
import Butsec from "./Butsec.astro";
---

<section
    class="bg-black border-2 min-h-screen flex flex-col items-center justify-start pt-10"
>
    <div class="sm:w-2xl relative"> 
        <img src="./public/images/BlackFace.jpg" alt="Imagen de fondo para el proyecto" class="block w-full h-auto" />
        
        <h1 
            class="
                font text-center text-4xl tracking-tight text-neutral-200 sm:text-5xl 
                absolute bottom-0 left-0 right-0 p-4 bg-black bg-opacity-50
            "
        >
            Frontend <span class="text-neutral-200">Developer</span>
        </h1>
    </div>
          <p class="text-neutral-400 mt-4 px-4 sm:w-2xl text-center"> 
            Desarrollo profesional de sitios web estáticos optimizados para vender.
     </p>
   
</section>