---
import Butsec from "./Butsec.astro";
---

<section
  class="bg-[url('./public/images/facehero.jpg')] border-2 min-h-screen flex items-center flex-1/2 justify-center bg-cover bg-center bg-no-repeat"
>
  <div class="container mx-auto text-center">
    <div class="border border-dashed border-neutral-900">
      <h1 class="font-bold text-5xl tracking-tight text-neutral-100 ">
        CONVERT<br />TO <span class="text-neutral-100">SALES</span>
      </h1>
    </div>
    <div class="border mt-2 border-dashed border-neutral-900">
      <h1 class="font-normal tracking- text-1xl text-neutral-400 ">
        Covert to <span class="text-neutral-400">sales</span>
      </h1>
    </div>
    <div class="mt-8 border border-dashed border-neutral-900">
      <Butsec texto="START" />
    </div>
  </div>

</section>