---
import Butsec from "./Butsec.astro";
import MinimalButton from "./MinimalButton.astro";

const titleStyle = `
    font- text-center text-4xl tracking-tight sm:text-5xl 
    absolute bottom-0 left-0 right-0 p-4
`;
const spanStyle = `
    text bg-clip-text text-transparent bg-gradient-to-r 
    from-neutral-100 via-neutral-100 to-neutral-100
`;
const spanStyle2 = `
    text bg-clip-text text-transparent bg-gradient-to-r 
    from-neutral-100 via-neutral-100 to-neutral-100
`;
---

<section
    class="min-h-screen flex flex-col items-center justify-start pt-25"
>
    <div class="sm:w-xl relative"> 
        <img src="https://dansilvestre.com/wp-content/uploads/2021/08/writing-lessons.jpeg" class="block w-full h-auto" />
        
        <h1 
            class={titleStyle}
        >
            <span class={spanStyle}>Máquina Web de </span> <span class={spanStyle2}>Ventas</span>
        </h1>
    </div>
          <p class="text-neutral-300 mt-1 px-4 sm:w-2xl text-center font-light"> 
            Desarrollo profesional y ultrarrápido de páginas de venta dirigidas a tu chat de <span class="font-bold text-emerald-500">WhatsApp</span>, listas para medir su rendimiento.
     </p>
    <div class="mt-8">
        <MinimalButton texto="EMPEZAR AHORA"/>
    </div>
</section>