---
import CardFeat from "./CardFeat.astro";
import CarruselCircularTailwind from "./CarruselCircularTailwind";
const imageList = [
    "https://i.pinimg.com/originals/48/d5/05/48d5055db31848e02b41b03e2308be8c.png", // URL 1
    "https://cdn.toolset.com/wp-content/uploads/2020/05/toolset-homepage-hero-section-example.png", // URL 1
    "https://tse3.mm.bing.net/th/id/OIP.slA4w0X0m4g7KhWXRJrSEgHaFj?pid=ImgDet&w=474&h=355&rs=1&o=7&rm=3", // URL 1
    "https://99designs-blog.imgix.net/blog/wp-content/uploads/2019/11/attachment_88813488-e1572534840369.png?auto=format&q=60&fit=max&w=930", // URL 4
    "https://www.vandelaydesign.com/wp-content/uploads/5-arctic-wild-natural-website-deisgn.jpg", // URL 5 (puedes agregar más)
];
---

<section
    class="font-sans min-h-[calc(100vh-1px)] pt-20 bg-gradient-to-b from-[#5424bb]/0 via-[#5424bb]/0 to-black"
>
    <div class="container mx-auto px-2 text-center">
        <h1
            class="text-3xl tracking-tight font-semibold text-balance text-[#f8f8ff] sm:text-3xl"
        >
            Working...
        </h1>
        <CarruselCircularTailwind imageUrls={imageList} client:load />

        <div class="mt-10 grid gap-4 lg:grid-cols-3 lg:grid-rows-1 text-start">
            <CardFeat
                title="Alan Brito"
                companie="CEO Marketing InterWorld"
                description="El servicio es excelente y muy profesional, si quieres una landinPage de vanguardia y veloz, esto realmente es para ti. El resultado fue fantástico, y lo mejor: SIN ANTICIPO."
                icon="https://assets.entrepreneur.com/content/3x2/2000/1701107803-latin-america-business-expansion-1123-g1171615860.jpg"
            />
            <CardFeat
                title="International Atlantic Airlines"
                companie="Empresa de Transporte Aereo"
                description="No solo cumplió con las expectativas, sino que superó las expectativas del equipo. Pedimos una Landing y nos entregaron una máquina de ventas."
                icon="https://www.valenzhealth.com/wp-content/uploads/2020/10/Professional-800x800-L.png"
            />
            <CardFeat
                title="Aurora Lennor"
                companie="President Of Stores For Sales"
                description="Sin palabras..."
                icon="https://www.greanpipe.com/wp-content/uploads/2019/11/dealer-768x707.png"
            />
        </div>
    </div>
</section>

<style>
    /* Variables CSS para responsividad 3D */
    :root {
        /* Los valores de radio Z sirven ahora para la inmersión */
        --carrusel-radio-z: 150px;
        --carrusel-perspective: 900px;
    }

    /* Aplica los estilos para Escritorio (sm: breakpoint) */
    @media (min-width: 640px) {
        :root {
            --carrusel-radio-z: 250px; /* Radio grande */
            --carrusel-perspective: 1200px;
        }
    }
</style>
