---
import Button from "../components/Button.astro";
---

<section
  class="flex items-center min-h-[calc(100vh-1px)] px-6 bg-"
>
  <div class="container mx-auto text-center">
    <h1
      class="text-4xl tracking-tight font-light text-balance text-[#f8f8ff] sm:text-7xl"
    >
      Sé que necesitas vender con una <span class="text-[#f8f8ff]"
        >landing page</span></h1><br />
    <p class="text-neutral-500 sm:text-xl">
      Convierte clicks en clientes y visitas en ventas aumentando tráfico
      filtrado a tu chat de <span class="text-[#25d366]">WhatsApp</span>
    </p><br />
    <div class="">
      <Button texto="Comenzar ahora" />
    </div>
  </div>
</section>
