---
import Button from "../components/Button.astro";

---

<section
  class="flex items-center min-h-[calc(100vh-1px)] px-6"
>
  <div class="container mx-auto text-center">
    <h1
      class="text-3xl tracking-tight text-balance text-[#f8f8ff] sm:text-5xl"
    >
      Tu próxima venta <span class="
           bg-clip-text text-transparent 
           bg-gradient-to-r from-[#f8f8ff] to-violet-500"
        >comienza aquí</span></h1><br />
    <p class="text-[#f8f8ff]/90 font-light sm:text-xl">
      Convierte clicks en <span class="text-violet-500">clientes</span>
    </p><br/><br>
    <div class="">
      <Button texto="EMPEZAR" />
    </div>
    <div>
  </div>
</section>
