---
import Stack from "./Stack.astro";
---

<section id="servicios" class="bg-black font-sans min-h-[calc(100vh-1px)]">
    <div class="container mx-auto px-4 text-center">
        <h1
            class="text-3xl tracking-tight text-balance text-[#f8f8ff] sm:text-4xl "
        >Trabajando...
        </h1>

        <div class="mt-10 grid gap-4 lg:grid-cols-2 lg:grid-rows-2 text-start">
            <Stack
                title="Trabajando..."
                description="Trabajando..."
                icon="https://assets.entrepreneur.com/content/3x2/2000/1701107803-latin-america-business-expansion-1123-g1171615860.jpg"
                size="large"
            />
            <Stack
                title="Trabajando.."
                description="Trabajando.."
                icon="https://www.valenzhealth.com/wp-content/uploads/2020/10/Professional-800x800-L.png"
            />
            <Stack
                title="Trabajando..."
                description="Trabajando..."
                icon="https://www.greanpipe.com/wp-content/uploads/2019/11/dealer-768x707.png"
            />
        </div>
    </div>
</section>
