---
interface props {
    title: string;
    description: string;
    size?: "small" | "large";
}

const { title } = Astro.props;
const { description } = Astro.props;
const { size } = Astro.props;
const stackClasses = `
    relative rounded-4xl overflow-hidden p-[1px] 
    ${size === "large" ? "lg:col-span-2 lg:row-span-2" : ""}
    bg-gradient-to-br from-violet-500 via-cyan-500/10 to-indigo-500  
    text-white transition-colors duration-300`;
---

<div class={stackClasses}>
    <div class="p-8 relative z-10 bg-black rounded-4xl h-full"> 
        <h3 class={`text-xl font-normal text-indigo-500`}>{title}</h3> <p class="mt-2 text-neutral-300 text-sm">{description}</p>
    </div>
</div>
